@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --preto: #333;
    --verde: #017143;
    --salmao: #eb7495;
    --rosa: #d752b1;
    --branco: #fff;
}

section {
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

header .logo {
    max-width: 80px;
    position: relative;
}

header ul {
    display: flex;
    position: relative;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: var(--preto);
    font-weight: 700;
    text-decoration: none;
    font-size: 19px;
    margin-left: 50px;
}

header ul li a:hover {
    color: var(--verde);
    border-bottom: 3px solid #017143;
}

.conteudoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.conteudoBox .textoBox {
    position: relative;
    max-width: 600px;
}

.conteudoBox .textoBox h2 {
    font-size: 4em;
    font-weight: 500;
    color: var(--preto);
    width: 600px;
}

.conteudoBox .textoBox span {
    color: var(--verde);
    font-weight: 700;
    font-size: 1.3em;
}

.conteudoBox .textoBox p {
    font-size: 17px;
    font-weight: 500;
    color: var(--preto);
}

.conteudoBox .textoBox a {
    display: inline-block;
    text-decoration: none;
    background: var(--verde);
    color: var(--branco);
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    margin-top: 20px;
}

.conteudoBox .textoBox a:hover {
    background: var(--preto);
}

.conteudoBox .imgBox {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 600px;
    padding-right: 50px;
    margin-top: 50px;
}

.conteudoBox .imgBox img {
    display: flex;
    max-width: 340px;
    position: relative;
}

.circle {
    position: absolute;
    display: flex;
    background: var(--verde);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    clip-path: circle(550px at right 800px);
}

.thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.thumb ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.thumb li:hover {
    transform: translateY(-20px);
}

.redes {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes li {
    list-style: none;
}

.redes img {
    transform: scale(0.6);
    display: inline-block;
    margin: 5px 0;
    filter: invert(1);
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    header {
        padding: 20px;
    }

    header .logo {
        max-width: 60px;
    }

    header ul {
        display: none;
    }

    .toggle {
        
    }

    section {
        padding: 20px 20px 120px;
    }

    .conteudoBox {
        flex-direction: column;
        margin-top: 70px;
    }

    .conteudoBox .textoBox {
        max-width: 100%;
    }

    .conteudoBox .textoBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .conteudoBox .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .conteudoBox .imgBox img {
        max-width: 250px;
    }

    .thumb li img {
        max-width: 40px;
    }

    .redes {
        background: var(--verde);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .circle {
        clip-path: circle(400px at center bottom);
    }
}
